@import "tailwindcss";

:root {
  --azul-oscuro: #41588e;
  --azul-claro: #41588e;
  --celeste: #b0c4df;
  --blanco: #ffffff;
  --beige: #f0edea;
  --xsmall: 12px;
  --small: 16px;
  --xxmedium: 18px;
  --xmedium: 24px;
  --medium: 32px;
  --big: 48px;
  --xbig: 60px;
  --xxbig: 72px;
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../public/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url(../public/fonts//OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open-Sans-Medium";
  src: url(../public/fonts/OpenSans-Medium.ttf);
}

@font-face {
  font-family: "Open-Sans-Regular";
  src: url(../public/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url(../public/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Breathing";
  src: url(../public/fonts/Breathing.ttf);
}

@theme {
  --color-azul: #41588e;
  --color-celeste: #b0c4df;
  --color-marroncito: #f0edea;
  --color-azul-oscuro: #41588e;
  --color-azul-claro: #41588e;
  --color-blanco: #ffffff;
  --color-beige: #f0edea;
  --font-poppins: "Poppins-Regular" sans-serif;
  --font-poppins-light: "Poppins-Light", sans-serif;
  --font-poppins-bold: "Open-Sans-Bold", sans-serif;
  --font-open-sans: "Open-Sans-Regular", sans-serif;
  --font-open-sans-light: "Open-Sans-Light", sans-serif;
  --font-open-sans-bold: "Open-Sans-Bold", sans-serif;
  --font-breathing: "Breathing", sans-serif;
}

@media (max-width: 700px) {
  body .qb-inicio-video iframe {
    width: 280px;
    height: 157.5px;
  }

  body .pri-inicio div h1 {
    font-size: var(--small);
  }

  body #dif-eades {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  body .pri-inicio img {
    width: 200px;
  }

  body .pri-inicio h1 {
    font-size: var(--medium);
  }

  body .cuart-inicio h2 {
    font-size: var(--xxmedium);
  }
}

.landingVideo {
  aspect-ratio: 16/11;
}

.flip-card {
  perspective: 1000px; /* Habilita la perspectiva 3D */
  -webkit-perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d; /* Mantiene las caras en 3D */
  -webkit-transform-style: preserve-3d; /* ? Safari */
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  will-change: transform; /* ? Safari */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la cara trasera */
  -webkit-backface-visibility: hidden; /* ? Para Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg); /* Hace que esté oculta inicialmente */
  -webkit-transform: rotateY(180deg); /* ? Safari */
}

.swiper-inicio {
  width: 100%;
  box-sizing: border-box;
  display: block;
  z-index: 1;
}

.pri-inicio {
  position: relative;
  padding: 0;
  font-family: "Poppins-Regular";
  width: 100%;
  aspect-ratio: 4/2;
  background-position: center;
  background-size: cover;
  cursor: grab;
  text-align: justify;
}

.pri-img1 {
  background-image: url(/alternativa_eades.jpg);
}

.pri-img2 {
  background-image: url(/alternativa_eades2.jpg);
}

.pri-img3 {
  background-image: url(/alta_eades_2.jpg);
}

.pri-inicio div {
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 237, 234, 0.8);
  padding: 0.5rem;
  backdrop-filter: blur(5px);
}

.pri-inicio h1 {
  font-size: var(--medium);
  font-family: "Poppins-Bold";
  color: var(--azul-oscuro);
  max-width: 850px;
}

.pri-inicio p {
  font-size: var(--small);
  font-family: "Open-Sans-Regular";
  color: var(--azul-oscuro);
  max-width: 800px;
}

.pri-inicio img {
  width: 400px;
}

.sec-inicio {
  padding: 50px;
}

.sec-inicio h2 {
  font-size: var(--azul-oscuro);
  font-family: "Poppins-Regular";
  font-size: var(--medium);
  text-align: center;
  padding-bottom: 20px;
}

.dif-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dif-inicio aside {
  max-width: 400px;
}

.dif-cons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dif-cons img {
  height: 30px;
  text-align: center;
}

.dif-cons h4 {
  font-family: "Poppins-Regular";
  font-size: var(--xmedium);
  color: black;
  opacity: 0.6;
}

.dif-cons section article {
  border: 5px solid black;
  min-height: 300px;
  border-radius: 50px;
  padding: 25px;
  margin: 10px;
}

.dif-cons section h3 {
  font-family: "Poppins-Regular";
  font-size: var(--medium);
}

.dif-cons section p {
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  padding-bottom: 30px;
}

#dif-eades {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#dif-eades article {
  border: 5px solid var(--azul-claro);
}

#dif-eades h3 {
  color: var(--azul-oscuro);
}

#dif-eades p {
  color: var(--azul-claro);
}

#dif-otros {
  opacity: 0.5;
}

#myVideo {
  width: 80%;
  height: auto;
  border: 5px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  transition: opacity 0.3s;
  opacity: 0.5;
}

#myVideo:hover {
  transform: scale(1.05);
  opacity: 1;
}

.qb-inicio-video {
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qb-inicio-video iframe {
  width: 560px;
  height: 315px;
}

.ter-inicio {
  padding: 50px;
  min-height: 400px;
  background: linear-gradient(
      to bottom,
      rgba(145, 166, 206, 0.8),
      rgba(92, 116, 165, 0.8)
    ),
    url(/eades_servicios_de_calidad.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.ter-inicio h2 {
  font-family: "Poppins-SemiBold";
  font-size: var(--medium);
  color: var(--azul-oscuro);
  max-width: 600px;
  padding-bottom: 20px;
}

.ter-inicio p {
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  max-width: 600px;
}

.cuart-inicio {
  padding: 50px;
}

.cuart-inicio h2 {
  font-family: "Poppins-Regular";
  font-size: var(--medium);
  color: var(--azul-oscuro);
}

.serv-inicio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carrusel {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.serv-inicio aside {
  margin: auto;
  max-width: 300px;
  border: 1px solid var(--azul-claro);
  box-shadow: 1.5px 1.5px 1.5px var(--azul-claro);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

#pseres-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

#pseres-display h3 {
  padding-left: 20px;
  padding-bottom: 0;
}

#pseres-display section {
  background-color: var(--azul-oscuro);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  width: 110px;
  cursor: pointer;
}

#pseres-display img {
  height: 20px;
  object-fit: contain;
}

.serv-inicio aside img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.serv-inicio aside h3 {
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: "Poppins-Regular";
  font-size: var(--xmedium);
  color: var(--azul-oscuro);
}

.serv-inicio aside p {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  color: var(--azul-claro);
  padding-bottom: 10px;
}

.serv-inicio aside span {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid var(--azul-claro);
  cursor: pointer;
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  color: var(--azul-claro);
  text-align: center;
  transition: all 0.25s ease;
}

.serv-inicio aside span:hover {
  background-color: var(--azul-claro);
  color: white;
}

.preg-frec {
  padding: 50px;
}

.preg-frec h2 {
  color: var(--azul-oscuro);
  font-family: "Poppins-SemiBold";
  font-size: var(--medium);
  padding-bottom: 20px;
}

.preg-frec section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.preg-frec section aside {
  max-width: 200px;
  padding: 10px;
  text-align: center;
}

.preg-frec section aside div {
  color: var(--azul-oscuro);
  font-size: var(--medium);
}

.preg-frec section aside h3 {
  font-family: "Poppins-Regular";
  color: var(--azul-oscuro);
  font-size: var(--xxmedium);
  padding-bottom: 10px;
}

.preg-frec section aside span {
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  color: var(--azul-claro);
}

@media (max-width: 550px) {
  body .pri-qs h1 {
    font-size: var(--medium);
  }

  body .psi-data img {
    width: 200px;
    height: 200px;
  }
}

.pri-qs {
  padding: 50px;
  min-height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(/eades_local_consultorio-min.JPG);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pri-qs h1 {
  font-family: "Poppins-SemiBold";
  color: var(--azul-oscuro);
  font-size: var(--big);
  padding-bottom: 20px;
  max-width: 600px;
}

.pri-qs p {
  font-family: "Open-Sans-Regular";
  color: var(--azul-oscuro);
  font-size: var(--small);
  max-width: 400px;
}

.sec-qs {
  padding: 50px;
  min-height: 400px;
  background-color: var(--celeste);
}

.sec-qs h2 {
  font-size: var(--medium);
  font-family: "Poppins-Regular";
  color: var(--azul-oscuro);
  padding-bottom: 30px;
}

.sec-qs section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sec-qs section img {
  width: 150px;
  margin: 10px;
}

.sec-qs figcaption {
  font-family: "Poppins-Regular";
  font-size: var(--small);
  text-align: center;
  color: var(--azul-oscuro);
  margin-top: -50px;
}

.ter-qs h2 {
  font-family: "Poppins-Regular";
  font-size: var(--medium);
  color: var(--azul-oscuro);
  padding-bottom: 20px;
}

.qs-cont-psi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qs-cont-psi span {
  color: var(--azul-oscuro);
  font-size: var(--medium);
  padding: 20px;
  cursor: pointer;
}

.qs-cont-psi .unactive {
  color: gray;
  cursor: default;
}

.psi-data img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.psi-data .mateo-img {
  object-position: top;
  object-fit: contain;
}

.psi-data .cesar-img {
  object-position: center;
  object-fit: cover;
}

.psi-data .mayte-img {
  object-position: top;
  object-fit: cover;
}

.psi-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.psi-data aside {
  max-width: 350px;
  margin: 20px;
}

.psi-data h3 {
  font-family: "Poppins-Regular";
  color: var(--azul-oscuro);
  font-size: var(--xmedium);
}

.psi-data em {
  font-family: "Open-Sans-Regular";
  color: var(--celeste);
  font-size: var(--xxmedium);
}

.psi-data ul {
  list-style: square;
  padding: 20px;
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  color: var(--azul-claro);
}

.clave-psi {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clave-psi div {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.active-cl {
  background-color: var(--azul-oscuro);
}

.def-cl {
  border: 2px solid var(--azul-oscuro);
}

.prueba-qs {
  height: 100px;
  width: 100px;
  background-color: purple;
}

@media (max-width: 550px) {
  body .pri-serv h1 {
    font-size: var(--medium);
  }

  body .pri-serv aside {
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
  }

  body .pri-serv aside div {
    font-size: var(--xsmall);
  }
}

.pri-serv {
  background-image: linear-gradient(
      to bottom,
      rgba(240, 237, 234, 0.8),
      rgba(240, 237, 234, 0)
    ),
    url(/servicios_port.jpg);
}

.img-serv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.img-serv img {
  width: 400px;
  height: 200px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--azul-oscuro);
  margin: auto;
}

.img-serv .top-img {
  object-position: 0px 25%;
}

.sec-serv {
  padding: 50px;
  transition: all 1s ease;
}

.disapear {
  transform: translateY(50px);
  opacity: 0;
}

.appear {
  transform: translateY(0px);
  opacity: 100%;
}

.sec-serv h2 {
  font-family: "Poppins-Regular";
  color: var(--azul-oscuro);
  font-size: var(--medium);
  padding-bottom: 20px;
}

.sec-serv section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}

.sec-serv section article {
  max-width: 400px;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--azul-claro);
  box-shadow: 2px 2px 2px var(--azul-claro);
  border-radius: 30px;
}

.sec-serv section article h3 {
  font-family: "Poppins-Regular";
  font-size: var(--xmedium);
  color: var(--azul-oscuro);
  padding-bottom: 20px;
}

.sec-serv section article p {
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  padding: 5px 0px;
  color: var(--azul-claro);
}

.sec-serv section article ul {
  padding: 20px;
  font-size: var(--small);
  font-family: "Open-Sans-Regular";
  color: var(--azul-claro);
  list-style: square;
}

.sec-serv section article span {
  color: var(--azul-oscuro);
}

/* BloqueTest.css */
@media (max-width: 550px) {
  body .section-test form > div {
    width: 300px;
  }

  body .section-test h1 {
    font-size: var(--xmedium);
  }
}

.section-test {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.bg-ansiedad {
  background-image: url(/test_anisedad.jpg);
}

.bg-tlp {
  background-image: url(/test_tlp.jpg);
}

.bg-depresion {
  background-image: url(/test_depresion.jpg);
}

.section-test h1 {
  color: var(--azul-oscuro);
  font-family: "Poppins-Regular";
  font-size: var(--xmedium);
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  max-width: 500px;
}

.section-test form {
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-test form > div {
  padding: 10px;
  background-color: var(--beige);
  border-radius: 10px;
  margin: 10px 0px;
  width: 500px;
  position: relative;
  padding-left: 50px;
  position: relative;
}

input[type="radio"],
input[type="checkbox"] {
  border: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--azul-oscuro);
  margin-right: 8px;
  vertical-align: middle;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
  transition: all 0.3s ease 0.3s;
}

input[type="radio"]:checked + label::before {
  background-color: var(--azul-oscuro);
}

/* Estilo para la bolita del checkbox */
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--azul-oscuro);
  margin-right: 8px;
  vertical-align: middle;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
  transition: all 0.3s ease 0.3s;
}

input[type="checkbox"]:checked + label::before {
  background-color: var(--azul-oscuro);
}

.section-test label {
  font-family: "Open-Sans-Regular";
  color: var(--azul-oscuro);
  font-size: var(--small);
}

.section-test label,
.section-test input {
  cursor: pointer;
}

.section-test .test-siguiente {
  border: 0px;
  background-color: var(--azul-oscuro);
  padding: 10px 25px;
  font-family: "Open-Sans-Regular";
  color: white;
  font-size: var(--small);
  border-radius: 20px;
  cursor: pointer;
  margin-top: 50px;
}

.section-test .test-regresar {
  border: 0px;
  color: var(--azul-oscuro);
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
  position: absolute;
  top: 20px;
  left: 50px;
  cursor: pointer;
  padding: 10px 5px;
}

/* TestResult.css */

.resp-test {
  background: var(--celeste);
  padding: 50px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--xxmedium);
  color: var(--azul-oscuro);
  font-family: "Open-Sans-Regular";
}

.resp-test p {
  max-width: 1000px;
}

.resp-test button {
  border: 1px solid var(--azul-oscuro);
  background: none;
  padding: 10px;
  border-radius: 20px;
  color: var(--azul-oscuro);
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.25s ease;
}

.resp-test button:hover {
  background-color: var(--azul-oscuro);
  color: var(--celeste);
}

/* BlogPage.css */

.pb-blog {
  padding: 50px;
  background-color: white;
}

.pb-blog h2 {
  font-size: var(--medium);
  font-family: "Poppins-Regular";
  font-weight: 100;
  padding-bottom: 50px;
}

.pb-blog-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* BlogContent.css */

.blog-content {
  padding: 50px;
  padding-top: 100px;
  background-color: white;
  color: var(--azul-oscuro);
  position: relative;
  max-width: 1000px;
  margin: auto;
  line-height: 30px;
}

.blog-content h1 {
  display: block;
  text-align: center;
  font-size: var(--medium);
  font-family: "Poppins-Regular";
  max-width: 500px;
  margin: auto;
  padding-bottom: 50px;
}

.bc-link {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: var(--small);
  font-family: "Poppins-Regular";
  color: var(--azul-oscuro);
  text-decoration: none;
}

.bc-intro-text p {
  font-size: var(--small);
  font-family: "Open-Sans-Regular";
  padding-bottom: 10px;
}

.bc-img {
  width: 75%;
  height: 300px;
  background-color: var(--gris);
  margin: auto;
}

.video-blog {
  width: 70%;
  margin: auto;
  aspect-ratio: 9/5;
}

.bc-bloque {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open-Sans-Regular";
  color: var(--azul-oscuro);
}

.bc-bloque h2 {
  font-size: var(--small);
}

.bc-bloque p {
  font-family: "Open-Sans-Regular";
}

.bc-bloque-p {
  padding-bottom: 10px;
}

.lista_ul {
  padding: 20px;
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
}

.lista_ol {
  padding: 20px;
  list-style: decimal;
}

.lista_ol li p {
  margin-left: -17px;
}

.lista_ol li {
  padding-bottom: 10px;
}

.blog-content span {
  font-family: "Open-Sans-Regular";
  font-size: var(--small);
}

@media (max-width: 650px) {
  body .comment-card {
    max-width: 400px;
  }
}

@media (max-width: 560px) {
  body .comment-sec textarea {
    width: 200px;
  }
}

.comment-sec {
  font-family: "Open-Sans-Regular";
}

.comment-sec h4 {
  font-size: var(--xmedium);
  padding-top: 50px;
  padding-bottom: 10px;
}

.comment-sec h3 {
  font-size: var(--xmedium);
  padding-top: 50px;
}

.comment-sec form {
  padding: 1.5rem;
  background-color: var(--celeste);
  color: var(--azul-oscuro);
  border-radius: 0.5rem;
  width: max-content;
}

.comment-sec textarea {
  resize: none;
  padding: 10px;
  border-radius: 0.5rem;
  width: 400px;
}

.comment-sec form button {
  background-color: transparent;
  border: 1px solid var(--azul-oscuro);
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 0.5rem;
  transition: all 0.25s ease;
  margin-right: 20px;
}

.comment-sec form button:hover {
  background-color: var(--azul-oscuro);
  color: var(--celeste);
}

.comment-sec h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--azul-oscuro);
  font-family: "Open-Sans-Medium";
  font-size: var(--xxmedium);
}

.comment-card {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--celeste);
  box-shadow: 2px 2px 2px var(--celeste);
  font-family: "Open-Sans-Regular";
  width: max-content;
  border-radius: 0.5rem;
  max-width: 600px;
  word-break: break-all;
}

.comment-card img {
  padding: 5px;
  border: 1px dotted var(--azul-oscuro);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
